{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block extraheader %}
	<title>ユーザー退会</title>
{% endblock %}

{% block main %}
<div class="container">
	<div class="row">
		<div class="">
			<form method="post" class="">
				{% csrf_token %}
				<p>本当に退会しますか？</p>
				<input type="submit" value="退会" class="btn btn-light">
				<a href="{% url 'accounts:profile' user_id=request.user.id %}" class="btn btn-light">戻る</a>
			</form>
		</div>	
	</div>
</div>
{% endblock %}
