{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block extraheader %}
    <title>S Gold | ログイン</title>
{% endblock %}

{% block main %}
<!-- Breadcrums -->
<div class="container">
    <div class="row">
        <div class="">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<section class="" id="">
<div class="container">
    <div class="row">
        <div class="">
            <h2>ログイン</h2>
            <form method="post" class="mb-3">
                {% csrf_token %}
                {% comment %}
                    LoginViewに対して現在のURLが格納されたnextパラメータを渡す
                    view内で
                    next=request.POST.get('next')
                    if next != 'None':
                        return redirect(to=next)
                    のようにしてリダイレクト先を変更したりできる
                {% endcomment %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="ログイン" %}
            </form>
            <p>会員登録は<a href="{% url 'accounts:signup' %}">こちら</a></p>
        </div>
    </div>
</div>
</section>
{% endblock %}

