{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block extraheader %}
    <title>プロフィール編集</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <h2>プロフィール編集</h2>
        <form method="post" class="">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="登録" %}
        </form>
    </div>
</div>
{% endblock %}
