{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block extraheader %}
    <title>プロフィール登録</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <h2>プロフィール登録</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% bootstrap_form profile_form %}
            {% bootstrap_form profimg_form %}
            {% bootstrap_button button_type="submit" content="登録" %}
        </form>
    </div>
</div>
{% endblock %}

