{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block extraheader %}
	<title>検索されたユーザー一覧</title>
{% endblock %}

{% block main %}
<section id="Q_list" class="">
	<div class="container">
		<div class="row">
			<div id="searchbox" class="">
				<form method="post" class="">
					{% csrf_token %}
					{% bootstrap_form form %}
            		{% bootstrap_button button_type="submit" content="検索" %}
				</form>
			</div>
			<div class="">
				{% for u in user_list %}
					<p>★★★★★★★★★★★★★★★</p>
					<a href="{% url 'accounts:q_userdetail' pk=u.user_id %}" class="">
					<p>Email: {{ u.user.email }}</p>
					<p>Nickname: {{ u.nickname }}</p>
					</a>
					<p>★★★★★★★★★★★★★★★</p>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
