{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block extraheader %}
	<title>検索されたユーザー詳細</title>
{% endblock %}

{% block main %}
<section id="Q_detail" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="">
					<picture class="text-center p-5">
						<source srcset="/media/{{ q_user.prof_image }}" class="img-fluid" alt="プロフ画像" />
						<img src="/media/prof/prof_img.png" class="img-fluid" alt="プロフ画像" />
					</picture>
				</div>
			</div>
			<div class="col-md-8">
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">ニックネーム</th>
							<td>{{ q_user.nickname }}</td>
						</tr>
						<tr>
							<th scope="row">氏名</th>
							<td>{{ q_user.last_name }}  {{ q_user.first_name }}</td>
						</tr>
						<tr>
							<th scope="row">メールアドレス</th>
							<td>{{ q_user.email }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
{% endblock %}