{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block extraheader %}
    <title>S Gold | 会員登録</title>
{% endblock %}

{% block main %}
<!-- Breadcrums -->
<div class="container">
    <div class="row">
        <div class="">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Signup</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<section class="" id="">
    <div class="container" id="">
        <div class="row" id="">
            <div class="">
                <h2>会員登録</h2>
                <form method="post" class="mb-3">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="登録" %}
                </form>
                <p>ログインは<a href="{% url 'accounts:login' %}">こちら</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

