{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>

{# cf) https://note.com/nssystems/n/n8490e6d7025d #}
<body>
    {% block body %}
    <section class="" id="social_auth">
        <div class="container" id="">
            <div class="row" id="">
                <div class="" id="">
                    {% if messages %}
                    <div class="mb-2 text-center">
                        <strong>Messages:</strong>
                        <ul>
                            {% for message in messages %}
                            <li>{{message}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <header class="mb-4 d-flex justify-content-end">
                        <nav class="navbar navbar-expand-sm">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav navbar-right">
                                    {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </header>
                    {% block content %}
                    {% endblock %}
                    {% endblock %}
                    {% block extra_body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>