{% extends "account/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<section class="" id="">
  <div class="container" id="">
    <div class="row" id="">
      <div class="col-sm-6 offset-sm-3" id="">
        <h1>{% trans "Sign In" %}</h1>
        {% get_providers as socialaccount_providers %}
        {# site_nameを変更する場合は、adminにログインして、サイトからドメイン名を変更する #}
        {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
          <div class="socialaccount_ballot">
          {# Googleなどが並ぶ #}
            <ul class="socialaccount_providers">
              <i class="bi bi-google"></i>{% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <div class="login-or">{% trans 'or' %}</div>
          </div>
          {% include "socialaccount/snippets/login_extra.html" %}
        {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
        <div class="row">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              <button type="submit" class="btn btn-primary" name="button">
                ログイン
              </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}