{% extends "account/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <h1 class="mb-4">{% trans "Sign Up" %}</h1>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary" name="button">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>
</div>
{% endblock %}