<!-- SublimeTextのプラグインPrettifyにて整形済み -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %} {# 金額を3桁区切りに #}

{% block extraheader %}
<title>S Gold | 注文履歴</title>
<link rel="stylesheet" type="text/css" href="{% static 'shopping/css/shopping.css' %}" media="screen">
{% endblock %}
{% block main %}
<!-- Login & Cart -->
{% include 'shopping/include/login_and_cart.html' %}
<!-- Breadcrums -->
<div class="container mb-2">
    <div class="row">
        <div class="">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'shopping:shopping_top' %}">Shopping</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Current Page</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- 日付検索 -->
<div class="container" id="">
    <div class="row" id="">
        <div class="mb-2 d-flex justify-content-center" id="">
            {% comment %}
            <form method="post" action="" class="" id="" role="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" extra_classes="" content="検索" %}
            </form>
            {% endcomment %}

            <form method="post" action="" class="" id="" role="form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row ">
                    <div class="input-group">
                        <div class="flex-fill">{{ form.start_y }}</div>
                        <span class="input-group-text" id=""> / </span>
                        <div class="flex-fill">{{ form.start_m }}</div>
                        <span class="input-group-text" id=""> / </span>
                        <div class="flex-fill">{{ form.start_d }}</div>
                        <span class="input-group-text" id=""> 〜 </span>
                        <div class="flex-fill">{{ form.end_y }}</div>
                        <span class="input-group-text" id=""> / </span>
                        <div class="flex-fill">{{ form.end_m }}</div>
                        <span class="input-group-text" id=""> / </span>
                        <div class="flex-fill">{{ form.end_d }}</div>
                        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i> 検索</button>
                    </div>
                    <div>{{ form.searched_item.errors }}</div>
                </div>
            </form>
        </div>
    </div>
</div>
<section id="order-history" class="">
    <div class="container">
        <div class="row mb-2">
            <div class="" id="">
                <h2 class="" id="">注文履歴</h2>
            </div>
        </div>
        <div class="row">
        	{% if orders|length == 0 %} 
        		<p>注文履歴がありません</p>
        	{% endif %}
            <div class="">
                {% for order in orders %}
                    <div class="row mb-3">
                        <div class="">
                            {# 日付をフォーマット (0で埋めない) #}
                            <p>注文日時： {{ order.created_at|date:"Y年n月j日 G:i" }}</p> 
                            <p>合計金額： {{ order.total_price|floatformat:0|escape|intcomma }}万円</p>
                        </div>
                        {% for item in order.oor %}
                            <div class="col-md-8 mb-2">
                                <a href="{% url 'shopping:item_detail' pk=item.item.id %} ">
                                    <img src="{{ media_url }}{{ item.item_photos }}" class="d-block w-100" alt="{{ item.item_photos.priority }}">
                                </a>{# どうしてもsrc="{{item.item_photos.photo.url}}"のようにしてAmazon S3のパスを付与できなかったので、強制的にMEDIA_URLを前に付けた #}
                            </div> <!-- .col-md-8 -->
                            <div class="col-md-4 mb-2">
                                <table class="">
                                    <tbody>
                                        <tr>
                                            <th>商品名</th>
                                            <td>{{ item.item.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>価格</th>
                                            <td>{{ item.price|floatformat:0|escape|intcomma }}万円</td>
                                        </tr>
                                        <th>数量</th>
                                        <td>{{ item.quantity }}</td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </div> <!-- .col-md-4 -->
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% if orders|length != 0 %} 
                    {# Paginationをinclude #}
                    {% include 'shopping/include/pagination.html' %}
                {% endif %}
            </div> 

        </div> <!-- .row -->
    </div> <!-- .container -->
</section>
{% endblock %}
