{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
<!-- extends "base.html" -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow, noarchive" /> <!-- クローラー禁止 -->
    {# descriptionは120文字以内で、特に最初の40文字にこだわる #}
    <meta content="DjangoをテストするためのWebサイトです" name="description" />
    <meta content="Django, Python, JavaScript" name="keywords" />
    <meta property="og:site_name" content="S Gold" />
    <meta property="og:locale" content="ja_JP" />
    {# Twitter #}
    <meta content="summery" name="twitter:card" />
    <meta content="@twitter_account" name="twitter:site" />

    <!-- Favicons -->
    <link href="{% static 'main/image/icon/favicon.png' %}" type="image/png" rel="icon">
    <link href="{% static 'main/image/icon/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- css -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"> <!-- Bootstrap Icons -->

    <!-- private css -->
    <!-- http://127.0.0.1:8000/static/myapp/css/style.css などで確認できる -->
    <!-- for PC -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" media="screen">
    <!-- for printer -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/print.css' %}" media="print">
    {% block extraheader %}{% endblock %}
</head>

<body>
    <!-- header -->
    <header id="header" class="">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="navbar">
                <a class="navbar-brand" href="/">S-Gold</a> <!-- アプリケーションタイトル -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <spna>Menu</spna>
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <!-- data-bs-target(折りたたみ部) -->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-md-0">
                        <li class="dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Django</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'iportfolio:iportfolio' %}">iPortfolio</a></li>
                                <li><a class="dropdown-item" href="{% url 'shopping:shopping_top' %}">Shopping Cart</a></li>
                                <li><a class="dropdown-item" href="{% url 'news:news_list' %}">News List</a></li>
                                <li><a class="dropdown-item" href="/social_auth/login/">OAuth</a></li>
                                <li><a class="dropdown-item" href="/api/">Rest Framework</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">ML</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="">Kaggle</a></li>
                                <li><a class="dropdown-item" href=""></a>OpenCV</li>
                                <li><a class="dropdown-item" href=""></a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Program</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="">Algorithm</a></li>
                                <li><a class="dropdown-item" href="">Python</a></li>
                                <li><a class="dropdown-item" href="">OpneCV</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'iportfolio:iportfolio' %}#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

                    <!--    
                    <div class="">
                        <ul class="navbar-navs">
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">会員登録</a></li>
                            {% endif %}
                        </ul>
                    </div>  -->

    <!-- main -->
    <main>
        {% bootstrap_messages %}
        {% block main %}{% endblock %}
    </main>


    <!-- footer -->
    <footer>
        
    </footer>

    <!-- JavaScript -->
    <script src=""></script>
    {% block JavaScript %}{% endblock %}

</body>

</html>
