/* 
 * cssファイル変更後は、ブラウザのスーパーリロードをする必要がある
 */

body {
    padding-top: 4rem; /* navbar-fixed-top するときに画面が隠れるので */
}

main {
    padding: 2rem 0;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover; /* 画像のトリミング */
}

section {
    padding: 30px 0px;
    overflow: hidden;
}


/* 
 * 浮いている状態であるfloatの回り込みを解除するには、
 * clearfix(::after擬似要素)でclear: bothを指定し解除
 * またはoverflow: hiddenを指定する
 * floatを指定すると、浮いた要素は縦横共に最小サイズになろうとするので、横幅の指定は必須
 * 
 */



.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.welcome {
    padding: 3rem 0;
    margin-bottom: 2rem;
    background-color: #eee;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.snippet-date {
    margin-bottom: 1rem;
}

.source-code > .highlight {
    padding: 1rem;
    margin-bottom: 1rem;
}

.navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.news {
  padding-bottom: 30px;
}

.news h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.news h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.news p {
  margin-bottom: 0;
}

#form {
  padding-bottom: 30px;
}

#form h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

#form h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

#form p {
  margin-bottom: 0;
}


/* モバイルファースト */
p .forpc{
    display: none;
}

/* PC用デザインとして付け足す場合 */
@media all and (min-width: 920px) {
    p .forpc {
        display: block;
    }
}



