{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block extraheader %}
	<title>S Gold | カートに追加</title>
	<link rel="stylesheet" type="text/css" href="{% static 'shopping/css/shopping.css' %}" media="screen">
{% endblock %}

{% block main %}
<!-- Login & Cart -->
{% include 'shopping/include/login_and_cart.html' %}

<!-- Breadcrums -->
<div class="container">
	<div class="row">
		<div class="">
			<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'shopping:shopping_top' %}">Shopping</a></li>
					<li class="breadcrumb-item"><a href="{% url 'shopping:item_detail' pk=item.pk %}">{{ item.name }}</a></li>
					<li class="breadcrumb-item active" aria-current="page">Current Page</li>
				</ol>
			</nav>
		</div>
	</div>
</div>

<section id="" class="">
	<div class="container">
		<div class="row mb-2">
			<div class="col-md-8" id="">
				{% if item %}
					{{ item.name }}を追加しました
				{% else %}
					新規に追加されたアイテムはありません
				{% endif %}
			</div>
			<div class="col-md-4">
				{# <a href="{% url 'shopping:shopping_top' %}">レジに進む</a> #}
				{# {% %}内には{{}}を使えないので以下の様に記述しurlにパラメーターを渡す #}
				<a href="{% url 'shopping:cart_detail' uuid=cart_uuid %}">カートに移動</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}