<!-- SublimeTextのプラグインPrettifyにて整形済み -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %} {# 金額を3桁区切りに #}
{% block extraheader %}
<title>S Gold | ショッピングカート</title>
<link rel="stylesheet" type="text/css" href="{% static 'shopping/css/shopping.css' %}" media="screen">
{% endblock %}
{% block main %}
<!-- Login & Cart -->
{% include 'shopping/include/login_and_order_history.html' %}
<!-- Breadcrums -->
<div class="container">
    <div class="row">
        <div class="">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'shopping:shopping_top' %}">Shopping</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Current Page</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section id="cart-detail" class="">
    <div class="container">
        {# 上下のmarginは相殺されるので、bottomだけ指定 #}
        <div class="row mb-2">
            <div class="" id="item-name">
                <h2>カートの詳細</h2>
            </div>
        </div>
        <div class="row">
        	{% if page_obj|length == 0 %} 
        		<p>カートに商品が入っていません</p>
        	{% endif %}
            <div class="col-md-10 ">
                <div id="" class="mb-3">
                    {# Paginationを使用する場合 #}
                    {% for item in page_obj %}
                    {% comment "Paginationを使わない場合" %}
                    {% for item in items %}
                    {% endcomment %}
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <a href="{% url 'shopping:item_detail' pk=item.item_id %} ">
                                <img src="{{ item.photo.url }}" class="d-block w-100" alt="{{ photo.priority }}">
                            </a>
                        </div> <!-- .col-md-8 -->
                        <div class="col-md-4">
                            <table class="">
                                <tbody>
                                    <tr>
                                        <th>商品名</th>
                                        <td>{{ item.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>価格</th>
                                        <td>{{ item.price|floatformat:0|escape|intcomma }}万円</td>
                                    </tr>
                                    <th>数量</th>
                                    <td>{{ item.quantity }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="">
                                <a class="" href="{% url 'shopping:delete_cart_item' item_id=item.item_id %}" role="">削除</a>
                            </div>
                        </div> <!-- .col-md-4 -->
                    </div>
                    {% endfor %}
                </div>
                {% if page_obj|length != 0 %} 
                    {# Paginationをinclude #}
                    {% include 'shopping/include/pagination.html' %}
                {% endif %}
            </div> <!-- .col-md-10 -->
            {% if page_obj|length != 0 %} 
            <div class="col-md-2">
                <div class="">
                    <p>合計金額</p>
                    <p>{{ total_price }}万円</p>
                    {% comment JavaScriptで制御する場合 %}
                    <button class="btn btn-warning" type="button" name="welcome-to-the-payment" onclick="location.href='/sejuku.net'">レジに進む</button>
                    {% endcomment %}
                    {# aタグで制御する場合 #}
                    <div class="" id="">
                        {% if request.user.is_authenticated %}
                        <a class="btn btn-warning" href="{% url 'shopping:payment_detail' user_id=request.user.id %}" role="button">レジへ進む</a>
                        {% else %}
                        {# 元のページにリダイレクト #}
                        <a class="btn btn-warning" href="{% url 'accounts:login' %}?next={{ request.path }}" role="button">レジへ進む</a>
                        {% endif %}
                    </div>
                    {% comment %}
                    {# 合計金額表示 #}
                    {% if items %} {# itemの数を取得する #}
                    <form method="post" action="" class="" role="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% bootstrap_button button_type="submit" content="レジに進む" %}
                    </form>
                    {% else %}
                    {% bootstrap_button button_type="submit" extra_classes="disabled" content="レジに進む" %}
                    {% endif %}
                    {% endcomment %}
                </div>
            </div> <!-- .col-md-2 -->
            {% endif %}
        </div> <!-- .row -->
    </div> <!-- .container -->
</section>
{% endblock %}