<!-- SublimeTextのプラグインPrettifyにて整形済み -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %} {# 金額を3桁区切りに #}
{% block extraheader %}
<title>S Gold | 注文詳細</title>
<link rel="stylesheet" type="text/css" href="{% static 'shopping/css/shopping.css' %}" media="screen">
{% endblock %}
{% block main %}
<!-- Login & Cart -->
{% include 'shopping/include/login_and_cart.html' %}
<!-- Breadcrums -->
<div class="container">
    <div class="row">
        <div class="">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'shopping:shopping_top' %}">Shopping</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'shopping:cart_detail' uuid=request.session.cart_uuid %}">Shopping Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Current Page</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section id="cart-detail" class="">
    <div class="container">
        {# 上下のmarginは相殺されるので、bottomだけ指定 #}
        <div class="row mb-2">
            <div class="" id="item-name">
                <h2>注文詳細</h2>
            </div>
        </div>
        <div class="row">
        	{% if cart_items|length == 0 %} 
        		<p>カートに商品が入っていません</p>
        	{% endif %}
            <div class="col-md-10 ">
                <div id="" class="mb-3">
                    {% for cart_item in cart_items %}
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <img src="{{ cart_item.item_photos.url }}" class="d-block w-100" alt="">
                        </div> <!-- .col-md-8 -->
                        <div class="col-md-4">
                            <table class="">
                                <tbody>
                                    <tr>
                                        <th>商品名</th>
                                        <td>{{ cart_item.item.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>価格</th>
                                        <td>{{ cart_item.item.price|floatformat:0|escape|intcomma }}万円</td>
                                    </tr>
                                    <th>数量</th>
                                    <td>{{ cart_item.quantity }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- .col-md-4 -->
                    </div>
                    {% endfor %}
                </div>
            </div> <!-- .col-md-10 -->
            {% if cart_items|length != 0 %} 
            <div class="col-md-2">
                <div class="">
                    <p>合計金額</p>
                    <p>{{ total_price }}万円</p>
                    {# aタグで制御する場合 #}
                    <div class="" id="">
                        <form method="post" action="" class="" role="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% bootstrap_button button_type="submit" extra_classes="" content="注文を確定" %}
                        </form>
                    </div>
                    
                </div>
            </div> <!-- .col-md-2 -->
            {% endif %}
        </div> <!-- .row -->
    </div> <!-- .container -->
</section>
{% endblock %}