{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block extraheader %}
    <title>S Gold | 500 Internal Server Error</title>
    <link rel="stylesheet" type="text/css" href="{% static 'errors/css/500.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <h2>申し訳ございません。不具合が発生しております...</h2>
            <a href="{% url 'top' %}" class="btn">戻る</a>
        </div>
    </div>
{% endblock %}