<div class="container">
	<div class="row">
		<div class="d-flex justify-content-end">
			<ul class="d-flex flex-row">
				{% if request.user.is_authenticated %}
					<li class="ms-2">{{ user.email }}でログイン中</li>
				{# 元のページにリダイレクトさせる #}
					<li class="ms-2"><a href="{% url 'accounts:logout' %}?next={{ request.path }}">ログアウト</a></li>
					<li class="ms-2"><a href="{% url 'shopping:order_history' pk=request.user.id %} ">注文履歴</a></li>
				{% else %}
				{# 元のページにリダイレクトさせる #}
					<li class="ms-2"><a href="{% url 'accounts:login' %}?next={{ request.path }}">ログイン</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>