<div class="container">
	<div class="row">
		{# 右寄せ/横並び: https://www.tohoho-web.com/bootstrap5/utilities.html#flex_row_column #}
		<div class="d-flex justify-content-end">
			<ul class="d-flex flex-row">
				{% if request.user.is_authenticated %}
					{# Bootstrap5からはMargin Leftはms(start)となる #}
					<li class="ms-2">{{ user.email }}でログイン中</li>
				{# 元のページにリダイレクトさせる #}
					<li class="ms-2"><a href="{% url 'accounts:logout' %}?next="https://s-gold.net/shopping/">ログアウト</a></li>
				{% else %}
					{# 元のページにリダイレクトさせる #}
					<li class="ms-2"><a href="{% url 'accounts:login' %}?next={{ request.path }}">ログイン</a></li>
				{% endif %}
					<li class="ms-2"><a href="{% url 'shopping:cart_detail' uuid=request.session.cart_uuid %} ">カートを確認</a></li>
			</ul>
		</div>
	</div>
</div>