
    <div class="container" id="pagenation">
        <nav class="">
            <ul class="pagination d-flex justify-content-center">
                <!-- 前へ の部分 -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                {% endif %}

                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number != 1 %}
                        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                        <li>…</li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}

                <!-- 現在ページ -->
                <li class="page-item active"><span class="page-link" href="#">{{ page_obj.number }}</span></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                        <li>…</li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                    {% endif %}
                {% endif %}

                <!-- 次へ の部分 -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link disabled" href="#">&raquo;</a>
                    </li>
                {% endif %}

                {% comment %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number|add:'2' }}">{{ page_obj.next_page_number|add:'2' }}</a></li>
                {% endcomment %}
            </ul>
        </nav>
    </div>


