{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{# 自作テンプレートタグを読み込み #}
{% load shopping_tags %}

{% block extraheader %}
	<title>S Gold | 商品一覧</title>
	<meta content="商品一覧" name="description" />
	{# OGPを設定 #}
	<meta property="og:type" content="article" />
    <meta property="og:title" content="S Gold | 商品一覧" />
    <meta property="og:description" content="商品一覧" />
    {# 横長の画像は1.91:1くらい、推奨は1200x630px #}
    <meta property="og:image" content="" /> 
    {# クエリパラメーターやドメインを含むパスを渡す #}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
	<link rel="stylesheet" type="text/css" href="{% static 'shopping/css/shopping.css' %}" media="screen">
{% endblock %}

{% block main %}
<!-- Login & Cart -->
{% include 'shopping/include/login_and_cart.html' %}

<!-- Breadcrums -->
<div class="container">
	<div class="row">
		<div class="">
			<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Shopping</li>
				</ol>
			</nav>
		</div>
	</div>
</div>

<!-- Item Search Form -->
<section id="" class="">
	<div class="container" id="">
		<div class="row">
			<div class="d-flex justify-content-center">
				{% comment "GETで投稿する場合" %}
					method="get" で送信する場合は、{% csrf_token %}は不要
					<form method="get" action="{% url 'shopping:searched_item' %}" class="" id="" role="form"></form>
				{% endcomment %}
				<form method="post" action="" class="" id="" role="form">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="row ">
						<div class="input-group">
							{{ form.searched_item }}					
							<button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i> 検索</button>
						</div>
                		<div>{{ form.searched_item.errors }}</div>
                	</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- Shopping Section -->
<section id="shopping-top-carousel" class="section-bg">
	<div class="container">
		<div class="row">
			<div class="text-center">
				
				<!-- Carousel -->
				<div id="carouselProductIntroduction" class="carousel slide" data-bs-ride="carousel">
					<!-- Bottom Buttons -->
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselProductIntroduction" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselProductIntroduction" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselProductIntroduction" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#carouselProductIntroduction" data-bs-slide-to="3" aria-label="Slide 4"></button>
						<button type="button" data-bs-target="#carouselProductIntroduction" data-bs-slide-to="4" aria-label="Slide 5"></button>
						<button type="button" data-bs-target="#carouselProductIntroduction" data-bs-slide-to="5" aria-label="Slide 6"></button>
					</div>

					<!-- Photos -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{% static 'shopping/image/Orfevre.jpg' %}" class="d-block w-100" alt="Orfevre">
						</div>
						<div class="carousel-item">
							<img src="{% static 'shopping/image/GoldShip.jpg' %}" class="d-block w-100" alt="GoldShip">
						</div>
						<div class="carousel-item">
							<img src="{% static 'shopping/image/DeepImpact.jpg' %}" class="d-block w-100" alt="DeepImpact">
						</div>
						<div class="carousel-item">
							<img src="{% static 'shopping/image/KingKamehameha.jpg' %}" class="d-block w-100" alt="KingKamehameha">
						</div>
						<div class="carousel-item">
							<img src="{% static 'shopping/image/TokaiTeio.jpg' %}" class="d-block w-100" alt="TokaiTeio ">
						</div>
						<div class="carousel-item">
							<img src="{% static 'shopping/image/SpecialWeek.jpg' %}" class="d-block w-100" alt="SpecialWeek">
						</div>
					</div>

					<!-- Side Buttons -->
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselProductIntroduction" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselProductIntroduction" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div> <!-- #carouselProductIntroduction -->
			</div>
		</div> <!-- .row -->
	</div> <!-- .container -->
</section> <!-- #item_list -->

<section id="item-list" class="item-list section-bg">
	<div class="container">
		<div class="row item-card-container" data-aos="fade-up" data-aos-delay="100">
			{# 別テーブルItemPhotoが絡んでくるので、ListViewのitem_listを使うわけにはいかなかった #}
			{% for it in items %}
				{% comment %}
					# 以下の様にHTMLタグ内で動的に値を設定する場合は、自作テンプレートタグで対処 
					# style="position: absolute; top: {% quotient_of_divided_by_3 forloop.counter0 %}px; left: {% reminder_of_divided_by_3 forloop.counter0 %}px;"
				{% endcomment %}

				{% comment %}
					# Bootstrapのカラム間のMarginは15px+15px=30pxとなっている
					# 参照： https:tonari-it.com/column-margin/
				{% endcomment %}
				<div class="col-md-6 col-lg-4 item-card" >
					<div class="item-card-wrap text-center">
						
						<img src="{{ it.photo.url }}" class="rounded img-fluid" alt="" />
						<div class="item-card-links">
							<a href="{% url 'shopping:item_detail' it.item.pk %}">
								<h5 class="">{{ it.item.name }}</h5>
							</a>
						</div>
					
					</div>
				</div>
			{% empty %}
				<div>
					<span>商品が登録されていません</span>
				</div>
			{% endfor %}

		</div> <!-- .row -->
	</div> <!-- .container -->
</section>
{% endblock %}
