@charset "UTF-8";

/* 
 * 浮いている状態であるfloatの回り込みを解除するには、
 * clearfix(::after擬似要素)でclear: bothを指定し解除
 * またはoverflow: hiddenを指定する
 * floatを指定すると、浮いた要素は縦横共に最小サイズになろうとするので、横幅の指定は必須
 * 
 */

ul {
  list-style: none; /* 黒丸を非表示 */
}

#item-detail #item-name {
	color:#188542;
}

#item-detail #item-name h2 {
	padding: 0 0 0 15px;
	margin: 0;
	/* relativeを指定しないと以下の疑似要素が上手く名前の横に位置しない */
	position:relative;
	font-weight: bold;
}

/* 疑似要素 */
#item-detail #item-name h2::before { 
	content: "";
	display:inline-block;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 4px;
	height: 100%;
	background: #DBE800;
}


