{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block extraheader %}
	<title>S Gold | Yahoo!ニュースから取得してきたNews一覧</title>
	<meta content="Yahoo!ニュースから取得してきた記事一覧" name="description" />
	{# OGPを設定 #}
	<meta property="og:type" content="article" />
    <meta property="og:title" content="S Gold | {{ news.title }}" />
    <meta property="og:description" content="Yahoo!ニュースから取得してきた記事一覧" />
    {# 横長の画像は1.91:1くらい、推奨は1200x630px #}
    <meta property="og:image" content="" /> 
    {# クエリパラメーターやドメインを含むパスを渡す #}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}

{% block main %}
<!-- Breadcrums -->
<div class="container">
    <div class="row">
        <div class="">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Current Page</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container" id="">
	<div class="row" id="">
		{% for message in messages %}
			<div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
		{% endfor %}
	</div>
</div>

<div class="container" id="">
	<div class="row" id="">
		<div class="text-end" id="">
			<form method="post" action="">
           		{% csrf_token %}
           		{% bootstrap_form form %}
           		{% bootstrap_button button_type="submit" extra_classes="jq_btn" content="最新の記事を取得" %}
       		</form>
       		<span class="small">※更新に時間がかかります</span>
		</div>
	</div>
</div>

<section id="news" class="">
	<div class="container">
		<article class="row">
			{% if news_list %}
				{% for news in news_list %}
					{# 上下のmarginは相殺が発生するのでその点は加味する #}
					<div class="news p-5">
						{# {% %}内には{{}}を使えないので以下の様に記述しパラメーターを渡す #}
						<h2 class="news_title bg-light rounded p-1"><a href="{% url 'news:news_detail' pk=news.pk %}">{{ news.title }}</a></h2>
						<p class="news_published_at text-end text-secondary p-1">{{ news.published_at }}</p>
						<p class="news_body p-1">{{ news.body }}</p>
						<p class="news_url text-truncate p-1 text-secondary">参照元: <a href="{{ news.url }}"><i class="text-secondary">{{ news.url }}</i></a></p>
					</div>
				{% endfor %}
			{% endif %}
		</article>
	</div>
</section>

{# Paginationをinclude #}
{% include 'news/include/pagination.html' %}

{% endblock %}


{% block JavaScript %}
{% endblock %}
