{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block extraheader %}
	<title>S Gold | {{ news.title }}</title>
	<meta content="Yahoo!ニュースから取得してきた記事詳細" name="description" />
	{# OGPを設定 #}
	<meta property="og:type" content="article" />
    <meta property="og:title" content="S Gold | {{ news.title }}" />
    <meta property="og:description" content="Yahoo!ニュースから取得してきた記事詳細" />
    {# 横長の画像は1.91:1くらい、推奨は1200x630px #}
    <meta property="og:image" content="{{ news.image_src }}" /> 
    {# クエリパラメーターやドメインを含むパスを渡す #}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}


{% block main %}
<!-- Breadcrums -->
<div class="container">
    <div class="row">
        <div class="">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'news:news_list' %}">News List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Current Page</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<section id="news_detail" class="">
	<div class="container">
		<article class="row">
			<div class="ng-light rounded" id="">
				<h2 class=""><a href="{{ news.url }}">{{ news.title }}</a></h2>
			</div>
	
			<p class="text-end">{{ news.published_at }}</p>
			<p>{{ news.body }}</p>
			<div class="text-center">
				<picture class="">
					<!-- 優先順位1 -->
					<source srcset="" />
  					<!-- どれも当てはまらなければimgを表示 -->
					<img src="{{ news.image_src }}" class="img-fluid" alt="news_image" />
				</picture>
			</div>
		</article>
	</div>
</section>

<br />

<section id="news_card" class="">
	<div class="container">
		<div class="row">
			<div class="card h-50" style="width: 18rem;">
				<img src="{{ news.image_src }}" class="card-img-top"/>
				<div class="card-body">
					<h5 class="card-title">{{ news.title | truncatechars:20 }}</h5>
					<p class="card-text">{{ news.body | truncatechars:75 }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

