{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>S Gold | News編集</title>
	{% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
	<div class="container">
    	<div class="row">
        	<h2>Newsの編集</h2>
        	<form method="post" enctype="multipart/form-data">
            	{% csrf_token %}
            	{% bootstrap_form form %}
            	{% bootstrap_button button_type="submit" content="編集" %}
       		 </form>
  	 	</div>
	</div>
</body>
</html>