{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block extraheader %}
	<title>お問い合わせ内容の確認</title>
{% endblock %}

{% block main %}
<div class="container">
	<h3>以下の情報で送信します。</h3>
	<div class="row mb-2 p-3 bg-light">
		<div class="col-sm-6">項目</div>
		<div class="col-sm-6">内容</div>
	</div>
	<div class="row mb-2 p-3 ">
		<div class="col-sm-6">名前</div>
		<div class="col-sm-6">{{ data.name }}</div>
	</div>
	<div class="row mb-2 p-3 bg-light">
		<div class="col-sm-6">メールアドレス</div>
		<div class="col-sm-6">{{ data.email }}</div>
	</div>
	<div class="row mb-2 p-3 ">
		<div class="col-sm-6">件名</div>
		<div class="col-sm-6">{{ data.subject }}</div>
	</div>
	<div class="row mb-2 p-3 bg-light">
		<div class="col-sm-6">メッセージ</div>
		<div class="col-sm-6">{{ data.message }}</div>
	</div>

	<div class="row">
		<div class="d-flex justify-content-center"> {# btnを中央寄せに #}
			<div class="btn-group" role="group" aria-label="Button Group">
				<div> {# このdiv入れないと、aタグが画面一杯まで広がってしまう #}
					<a class="btn btn-secondary mt-2 me-3" href="{% url 'iportfolio:iportfolio' %}" role="buttun">戻る</a>
				</div>
				<form action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<button class="btn btn-primary mt-2 ms-3" type="submit" name="next" value="complete">送信</button>
				</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}


<!--
		<table class="table table-borderless table-striped">
			<thead>
				<tr>
					<th scope="col">項目</th>
					<th scope="col">内容</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">名前</th>
					<td>{{ data.name }}</td>
				</tr>
				<tr>
					<th scope="row">メールアドレス</th>
					<td>{{ data.email }}</td>
				</tr>
				<tr>
					<th scope="row">件名</th>
					<td>{{ data.subject }}</td>
				</tr>
				<tr>
					<th scope="row">お問い合わせ内容</th>
					<td>{{ data.message }}</td>
				</tr>
			</tbody>
		</table>
	</div>
-->
