{% block extraheader %}
    <title>送信完了</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <h1>送信が完了しました</h1>
        <a href="{% url 'iportfolio:iportfolio' %}">
            <p>トップへ</p>
        </a>
    </div>
</div>
{% endblock %}