{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %} {# 金額を3桁区切りに #}

{# 自己定義カスタムフィルター #}
{% load shopping_filters %} 


{% block extraheader %}
	<title>S Gold | アイテム詳細</title>
	<meta content="商品の詳細" name="description" />
	{# OGPを設定 #}
	<meta property="og:type" content="article" />
    <meta property="og:title" content="S Gold | {{ item.name }}" />
    <meta property="og:description" content="商品の詳細" />
    {# 横長の画像は1.91:1くらい、推奨は1200x630px #}
    <meta property="og:image" content="" /> 
    {# クエリパラメーターやドメインを含むパスを渡す #}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
	<link rel="stylesheet" type="text/css" href="{% static 'shopping/css/shopping.css' %}" media="screen">
{% endblock %}

{% block main %}
<!-- Login & Cart -->
{% include 'shopping/include/login_and_cart.html' %}

<!-- Breadcrums -->
<div class="container">
	<div class="row">
		<div class="">
			<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'shopping:shopping_top' %}">Shopping</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
				</ol>
			</nav>
		</div>
	</div>
</div>

<section class="" id="item-detail">
	<div class="container">
		{# 上下のmarginは相殺されるので、bottomだけ指定 #}
		<div class="row mb-2">
			<div class="" id="item-name">
				<h2>{{ item.name }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 text-center">
				<!-- Carousel -->
				<div id="carouselItemPhotos" class="carousel slide" data-bs-ride="carousel">
					<!-- Photos -->
					<div class="carousel-inner">
						{% for photo in photos %}
							{% if photo.priority == 1 %}
								<div class="carousel-item active">
									<img src="{{ photo.photo.url }}" class="d-block w-100" alt="{{ photo.priority }}">
								</div>
							{% else %}
								<div class="carousel-item">
									<img src="{{ photo.photo.url }}" class="d-block w-100" alt="{{ photo.priority }}">
								</div>
							{% endif %}
						{% endfor %}
					</div>

					<!-- Side Buttons -->
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselItemPhotos" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselItemPhotos" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div> <!-- #carouselItemPhotos -->
			</div> <!-- .col-md-8 -->

			<div class="col-md-4">
				<div class="">
					<table class="table table-striped">
						<tbody>
							<tr>
								<th scope="row">種付け料</th>
								{% comment %} 
									整数部分のみで丸め込み
									テンプレートフィルターを複数使うには、フィルター間に|escape|が必要
								{% endcomment %}

								<td>{{ item.price|floatformat:0|escape|intcomma }}万円</td>
							</tr>
							<tr>
								<th scope="row">戦績</th>
								<td>{{ item.runs }}戦{{ item.wins }}勝</td>
							</tr>
							<tr>
								<th scope="row">主なG1</th>
								<td>
									{% for race in G1 %}
										{% if forloop.last %}
											{{ race.g1 }}
										{% else %}
											{{ race.g1 }} <br />
										{% endif %}
									{% endfor %}
								</td>
							</tr>
							<tr>
								<th scope="row">代表産駒</th>
								<td>
									{% for foal in foals %}
										{% if forloop.last %}
											{{ foal.name }}
										{% else %}
											{{ foal.name }} <br />
										{% endif %}
									{% endfor %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="">
					{% if stock > 0 or item.on_sale == True %}
        			<form name="cart_form" method="post" action="" class="" id="" role="form">
						{% csrf_token %}
						{{ cart_form.non_field_errors }}
						<div class="row ">
							<div class="input-group">
								{{ cart_form.quantity }}					
								<button type="submit" class="btn btn-outline-primary" name="cart_form"><i class=""></i> 購入</button>
							</div>
                			<div>{{ cart_form.quantity.errors }}</div>
                		</div>
					</form>
        			{% else %}
        				<button type="submit" class="btn btn-outline-primary" name="cart_form" disabled><i class=""></i> 在庫切れ</button>
        			{% endif %}
				</div>
			</div> <!-- .col-md-4 -->
		</div> <!-- .row -->
	</div> <!-- .container -->
</section>

<hr />

<!-- Item Review -->
{% if reviews %}
<article class="">
	<div class="container">
		<div class="row">
			{% for review in reviews %}
				<div class="col-md-4 mb-2">
					<p class="">{{ review.user.email }}さん</p>
					<p class="">{{ review.created_at | date:"Y/m/d" }}</p>
				</div>
				<div class="col-md-8 mb-2">
					<p class="">{{ review.stars | show_stars }}</p>
					<p class="">{{ review.comment }}</p>
				</div>
				<hr />
			{% endfor %}
	</div>
</article>
{% endif %}

{% if request.user.is_authenticated %}
<div class="container">
	<div class="row">
		<div class="">
			<p class="">レビューする</p>
			<form name="review_form" method="post" action="" class="" id="" role="form">
				{% csrf_token %}
				{{ review_form.non_field_errors }}
				<div class="row ">
					<div class="">

						<p class="">{{ review_form.stars }}</p>
						<p class="">{{ review_form.comment }}</p>					
						<button type="submit" class="btn btn-outline-primary" name="review_form"><i class="fas fa-search"></i> 投稿</button>
					</div>
            		<div>{{ review_form.quantity.errors }}</div>
              	</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}
