{% extends "base.html" %}
{% load django_bootstrap5 %}s
{% load static %}

{% block extraheader %}
	<title>S Gold | 商品登録</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <h2>商品登録</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form item_form %}
            {% bootstrap_button button_type="submit" content="登録" %}
        </form>
    </div>
</div>
{% endblock %}