{% extends "base.html" %}
{% load django_bootstrap5 %}s
{% load static %}

{# 自作テンプレートタグを読み込み #}
{% load shopping_tags %}

{% block extraheader %}
	<title>S Gold | 検索商品一覧</title>
	<meta content="商品一覧" name="description" />
	{# OGPを設定 #}
	<meta property="og:type" content="article" />
    <meta property="og:title" content="S Gold | 検索商品一覧" />
    <meta property="og:description" content="検索商品一覧" />
    {# 横長の画像は1.91:1くらい、推奨は1200x630px #}
    <meta property="og:image" content="" /> 
    {# クエリパラメーターやドメインを含むパスを渡す #}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
	<link rel="stylesheet" type="text/css" href="{% static 'shopping/css/shopping.css' %}" media="screen">
{% endblock %}

{% block main %}
<!-- Login & Cart -->
{% include 'shopping/include/login_and_cart.html' %}

<!-- Breadcrums -->
<div class="container">
	<div class="row">
		<div class="">
			<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'top' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'shopping:shopping_top' %}">Shopping</a></li>
					<li class="breadcrumb-item active" aria-current="page">Current Page</li>
				</ol>
			</nav>
		</div>
	</div>
</div>

<!-- Item Search Form -->
<section id="" class="">
	<div class="container" id="">
		<div class="row">
			<div class="d-flex justify-content-center">
				{% comment "GETで投稿する場合" %}
					method="get" で送信する場合は、{% csrf_token %}は不要
					<form method="get" action="{% url 'shopping:searched_item' %}" class="" id="" role="form"></form>
				{% endcomment %}
				<form method="post" action="" class="" id="" role="form">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="row ">
						<div class="input-group">
							{{ form.searched_item }}					
							<button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i> 検索</button>
						</div>
                		<div>{{ form.searched_item.errors }}</div>
                	</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- Searched Item Section -->
<section id="searched-item-list" class="item-list section-bg">
	<div class="container">
		<div class="row item-card-container" data-aos="fade-up" data-aos-delay="100">
			{% for item in items %}
				<div class="col-md-6 col-lg-4 item-card" >
					<div class="item-card-wrap text-center">
						{# 最初の要素だけを出力させるには、sample.0のように指定する #}
						<img src="{{ item.ipr.0.photo.url }}" class="rounded img-fluid" alt="{{ item.name }}" />
						<div class="item-card-links">
							<a href="{% url 'shopping:item_detail' item.pk %}">
								<h5 class="">{{ item.name }}</h5>
							</a>
						</div>
					</div>
				</div>
			{% empty %}
				<div>
					<span>表示する商品がありません</span>
				</div>
			{% endfor %}

		</div> <!-- .row -->
	</div> <!-- .container -->
</section>
{% endblock %}
